<style>
    *{
        margin:0;
        padding:0;
    }
    .list-style{
        display:flex
        list-style:none;
        gap:20px;
    }
    #list-style{
        display:flex
        list-style:none;
        gap:20px;
    }
    h1{
        font-size:12px;
    }
    @media{max-width:600px}
    h1{
        font-size:12px;
    }

    .list-style{
        flex-direction:column
        list-style:none;
        gap:20px;
    }
    @media(min-width:600px)
    h1{
        font-size:12px;
    }

</style>